<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975647460038-amu1vscsv0rfgt14bttpaomv525copnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975647460038-amu1vscsv0rfgt14bttpaomv525copnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqGs0dkiruzjm6uEl_pM9v7-08n6Ntv1M</string>
	<key>GCM_SENDER_ID</key>
	<string>975647460038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhbw.nighthub</string>
	<key>PROJECT_ID</key>
	<string>nighthub-77c81</string>
	<key>STORAGE_BUCKET</key>
	<string>nighthub-77c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975647460038:ios:f87258c8c9fb49da51e5c7</string>
	<key>DATABASE_URL</key>
	<string>https://nighthub-77c81-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>